/*--------------------------------------------------------------
# Main attributes
--------------------------------------------------------------*/
:root {
  --ash-color: #9f9f9f;
  --main-green-color: #41cc76;
  --black-color: #000;
  --red-color: #cf1d2a;
  --yello-color: #ffe403;
  --main-font: "Inter", sans-serif;
  --mont-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--main-font);
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--main-green-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mont-font);
}
/*--------------------------------------------------------------
# Main re-useble components
--------------------------------------------------------------*/
.fixed-top {
  position: fixed;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center;
}
.tect-center {
  text-align: center;
}
.padding-3 {
  padding: 0rem 3rem;
}
.button {
  margin: 0rem 2rem;
  display: flex;
  justify-content: center;
}

.red a {
  color: #fff;
  font-family: var(--mont-font);
  font-weight: 500;
  background-color: var(--red-color);
  padding: 0.5rem 2rem;
  border-radius: 1000px;
  transition: all 0.3s;
}
.red:hover {
  opacity: 0.8;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

[class^="col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333% !important;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.p-0 {
  padding: 0px;
}
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3rem;
}
.pt-0 {
  padding-top: 0rem;
}
.pt-1 {
  padding-top: 0rem;
}
.pt-2 {
  padding-top: 1rem;
}
.pt-3 {
  padding-top: 1.5rem;
}
.pt-4 {
  padding-top: 2rem;
}
.pt-5 {
  padding-top: 2.5rem;
}

.pb-0 {
  padding-top: 0rem;
}
.pb-1 {
  padding-top: 0rem;
}
.pb-2 {
  padding-top: 1rem;
}
.pb-3 {
  padding-top: 1.5rem;
}
.pb-4 {
  padding-top: 2rem;
}
.pb-5 {
  padding-top: 2.5rem;
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.header {
  width: 100%;
  z-index: 999;
}
.header .top {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  margin-bottom: 0px;
  z-index: 999;
  width: 100%;
  height: 40px;
}
.header .top p {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
}

.header ul {
  list-style: none;
}
.header .navigation {
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.6s;
}
.header .navigation .nav-bar {
  padding: 0rem;
}
.header img {
  margin-top: -50px;
  width: 350px;
}
.header .toggle img {
  width: 30px;
  cursor: pointer;
}
.header {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-bottom: #000 1px solid;
}
.display-none {
  display: none;
}
.display {
  display: inline-block;
  transition: right 0.3s ease-in-out;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 300px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}
.sidebar.visible {
  right: 0 !important;
  z-index: 999;
}

.header .sidebar li {
  margin-bottom: 12px;
  width: 100%;
}
.header .sidebar i {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  font-size: 24px;
  color: var(--red-color);
  cursor: pointer;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #000;
}

.section-header h2 span {
  color: var(--red-color);
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/**
* Hero Section 
*/
.hero {
  padding-top: 200px;
  width: 100%;
  min-height: 50vh;
  background: var(--main-green-color);
}
.hero h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  font-family: var(--mont-font);
}
.hero h1 span {
  color: var(--yello-color);
}
.hero h2 {
  color: #fff;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: 400;
}
.hero .hero-img img {
  width: 100%;
}

.hero .app-icon ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}

.hero .app-icon ul li img {
  width: 90%;
}

.app {
  position: fixed;
  right: -69px;
  top: 30%;
  transform: rotate(-90deg);
  z-index: 99;
}
.app a {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  color: #000;
}
.app a p {
  padding: 1rem 1rem;
  background-color: #fff;
}
.app a i {
  padding: 1rem 1rem;
  background-color: var(--yello-color);
}

/**
* Treatment Carousel Section
*/
#searchForm {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
}
.item {
  width: 100%;
  position: relative;
}
.item input {
  width: 85%;
  padding: 1rem;
  border: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-green-color);
}

.item .search-input {
  padding-left: 30px;
}

.cross-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-green-color);
}

.item .cross-input {
  padding-right: 30px;
}

.form-btn {
  border: none;
  background-color: var(--yello-color);
  width: 100% !important;
  padding: 1rem;
  transition: all 0.3s !important;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--main-green-color) !important;
}

.list-group {
  padding: 0px;
  list-style: none;
  background-color: #fff;
  width: 91.5%;
  padding: 1rem 0rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.list-group li {
  padding: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.6s;
}
.list-group li:last-child {
  border-bottom: none;
}
/**
* Treatment Carousel Section
*/

.treatment .carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.treatment .carousel-container {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.treatment .logo {
  width: 70px;
  margin-right: 10px;
}
.treatment .nav-btn {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #fff;
  color: var(--main-green-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.treatment .nav-btn i {
  font-size: 32px;
}
.treatment #prevBtn {
  left: 0px;
}

.treatment #nextBtn {
  right: 0px;
}

/**
* Why section
*/

.why .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px rgba(64, 204, 118, 0.1);
  min-height: 130px;
}
.why .box:hover {
  box-shadow: 5px 5px 20px 5px rgba(64, 204, 118, 0.2);
}
.why .icon img {
  width: 40px;
}
.why .box .text {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.section-header h2 {
  font-size: 28px;
}
/**
* Map section
*/

.map {
  background-color: #aee9c5;
  max-height: 70vh;
}
.map .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.map img {
  width: 80%;
}
.table img {
  width: 100%;
}

/**
* Contact Form
**/
.contact {
  margin-top: 5rem;
  background-color: #ecfaf1;
}
.contact::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 100%;
  background-image: url(/assets/images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}
.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 0rem 2.5rem;
}
.contact form .form-control {
  width: 90%;
  padding: 12px;
  margin-top: 12px;
}
.contact form [type="email"] {
  width: 90%;
  padding: 12px;
  margin-top: 12px;
}

.contact form textarea {
  width: 95%;
  padding: 12px;
  margin-top: 12px;
  height: 80px;
}

.contact form input,
.contact form textarea {
  border-radius: 4px;
  border: 1px solid #114f1f;
}

.contact .img {
  width: 100%;
  margin-bottom: -20px;
}
.contact .title {
  padding-left: 2.5rem;
  color: #085a27;
  font-weight: 700;
  font-size: 48px;
}

/*--------------------------------------------------------------
# listning Page
--------------------------------------------------------------*/

/*
hero
*/
.list-hero {
  background-color: rgba(64, 204, 118, 0.18);
}

.list-hero h1 {
  text-align: center;
  color: #000;
  font-weight: 500;
}
.list-hero h1 span {
  color: #000;
  font-weight: 700;
}

.list-hero .app-icon ul {
  display: flex;
  list-style: none;
  gap: 12px;
  margin-top: 2rem;
}

/**
*Top-ten
**/
.top-ten h2 {
  text-align: center;
  font-size: 32px;
}
.top-ten .card-bg {
  background-color: #aee9c5;
}

.top-ten .card-bg img {
  width: 90%;
}

.top-ten .content {
  margin-top: 2rem;
  background-color: #f2fff7;
  border-radius: 12px;
}

/**
*Dentist
**/
.dentist h2 {
  font-size: 32px;
}
.dentist .box {
  background-color: #f2fff7;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #119543;
  text-align: center;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  min-height: 300px;
}
.dentist .box .info {
  display: none;
}
.dentist .box:hover {
  transform: translateY(20px);
}
.dentist .box:hover .info {
  display: inline;
}
.dentist .box:hover img,
.dentist .box:hover ul,
.dentist .box:hover .btn,
.dentist .box:hover .title,
.dentist .box:hover .padding {
  display: none;
}

.dentist .box img {
  width: 150px;
  transition: 0.5s ease-in-out;
}
.dentist .box ul {
  list-style: none;
  display: flex;
  transition: 0.5s ease-in-out;
  gap: 4px;
  margin: 0px;
  padding: 0px;
}

.dentist .box ul i {
  color: var(--yello-color);
}

.dentist .box a {
  background-color: var(--main-green-color);
  color: #fff;
  padding: 6px 16px;
  border-radius: 8px;
  transition: all 0.4s ease;
  transition: 0.5s ease-in-out;
}
.dentist .box a:hover {
  background-color: #119543;
}
.dentist .padding {
  padding: 0rem 1rem;
}

/*
* Faq
*/
.faq-section .faq {
  margin: 1rem;
}
.faq-section .question {
  padding: 20px 20px 20px 20px;
  font-weight: bold;
  margin-top: 12px;
  cursor: pointer;
  background-color: #f2fff7;
  border-radius: 12px;
}

.faq-section .answer {
  display: none;
  padding: 20px;
  margin-bottom: 18px;
  background-color: #f2fff7;
  transition: all 1s ease;
}
.faq-section .answer p {
  color: #4e4e4e;
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 190%;
}
.faq-section hr {
  border-top: 1px solid #f3f3f3;
}

.faq-section .question.active + .answer {
  display: block;
}

.faq-section .question i {
  float: right;
  transition: transform 0.6s ease-in-out;
}

.faq-section .question.active i {
  transform: rotate(180deg);
}

/*--------------------------------------------------------------
# Contact us Page
--------------------------------------------------------------*/
/*
*Hero section
*/
.contact-hero {
  background-color: #fff;
  text-align: center;
  min-height: 10vh;
}
.contact-hero h1 {
  color: #000;
}

/* Contact section
*
*/
.contact-us .contact-box {
  background-color: #f2fff7;
  margin: 1rem;
  padding: 1rem 2rem;
  min-height: 180px;
}
.contact-us .contact-box i {
  color: var(--main-green-color);
  font-size: 26px;
}
.contact-us .contact-box p,
.contact-us .contact-box a {
  color: var(--black-color);
}

.contact-us .contact-box a:hover {
  color: var(--main-green-color);
}

.contact-us form {
  margin: 1rem;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  background-color: #f2fff7;
}
.contact-us form input {
  border: none;
  border: 1px solid var(--main-green-color);
  border-radius: 8px;
}
.contact-us form textarea {
  height: 100px;
  border-radius: 12px;
  border-color: var(--main-green-color);
  margin-bottom: 1rem;
}
.contact-us button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--main-green-color);
  border: 0;
  padding: 1rem 2rem;
  color: #fff;
  transition: 0.4s;
  border-radius: 1000px;
  cursor: pointer;
}
.contact-us button[type="submit"]:hover {
  background-color: #114f1f;
}
.contact-us .form-control {
  width: 100%;
  padding: 12px 6px;
  margin-top: 0.5rem;
}

.contact-us .control1 {
  width: 90%;
}

.contact-us .control-2 {
  margin-left: 1rem;
  width: 95%;
}

/*--------------------------------------------------------------
# Page block
--------------------------------------------------------------*/

.block-hero {
  height: 100vh;
  background-color: #aee9c5;
}

.block-hero .info {
  background-color: var(--main-green-color);
}
.block-hero .info h3 {
  color: #fff;
  text-align: center;
  font: 700;
  font-size: 48px;
}
.block-hero .info p {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}

.block-hero .info form {
  background-color: transparent;
  flex-direction: column;
  width: 100%;
}

.block-hero .info form button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
}
.block-hero .info form input {
  width: 99.7%;
  padding: 1rem 0rem;
}

/*--------------------------------------------------------------
# Destinations pages
--------------------------------------------------------------*/
.tiles .wrapper {
  margin: 0.5rem;
}
.tiles .card {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 300px;
  margin: 1rem;
}
.tiles .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  transition: 0.5s all;
  opacity: 0;
}

.tiles .card:hover:before {
  opacity: 1;
}
.tiles .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.tiles .info {
  position: relative;
  z-index: 3 !important;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}
.tiles .info p {
  color: #fff;
  text-align: center;
}
.tiles .info a {
  background-color: var(--main-green-color);
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.5s;
}
.tiles .info a:hover {
  background-color: var(--yello-color);
  color: #000;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-slide img {
  opacity: 0.9;
  transition: 0.3s;
  filter: grayscale(100);
}
.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.swiper-slide img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.swiper-button-prev::after {
  display: none;
  position: absolute;
  right: 0;
}
.swiper-button-next::after {
  display: none;
}

.nav-btn i {
  font-size: 24px;
  color: #022a11;
  width: 15px;
  height: 15px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide:hover {
  display: block !important;
}

/*--------------------------------------------------------------
# Page Modal
--------------------------------------------------------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.7s !important;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 60px auto;
  padding: 30px;
  width: 60%;
  min-height: 50vh;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form input {
  display: flex;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.modal form textarea {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.modal form .btn {
  display: flex;
  justify-content: center;
  width: 96%;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
/*--------------------------------------------------------------
# Contact pages
--------------------------------------------------------------*/
.contact {
  margin-top: 5rem;
  background-color: #ecfaf1;
}
.contact::before {
  content: "";
  position: absolute;
  height: 160px;
  width: 100%;
  background-image: url(/assets/images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}
.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  padding: 0rem 2.5rem;
}
.contact form .form-control {
  width: 90%;
  padding: 12px;
  margin-top: 12px;
}
.contact form [type="email"] {
  width: 90%;
  padding: 12px;
  margin-top: 12px;
}

.contact form textarea {
  width: 95%;
  padding: 12px;
  margin-top: 12px;
  height: 80px;
}

.contact form input,
.contact form textarea {
  border-radius: 4px;
  border: 1px solid #114f1f;
}

.contact .img img {
  width: 100%;
}
.contact .title {
  padding-left: 2.5rem;
  color: #085a27;
  font-weight: 700;
  font-size: 48px;
}
/*--------------------------------------------------------------
# Support btn
--------------------------------------------------------------*/
.support-btn {
  position: fixed;
  display: none;
  z-index: 9999;
  bottom: 60px;
  right: 10px;
}
.support-btn a {
  background-color: var(--red-color);
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# Footer pages
--------------------------------------------------------------*/

.footer {
  background-color: #022a11;
  z-index: -1;
}
.footer::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 100%;
  background-image: url(/assets/images/footer-vawe.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ecfaf1;
  margin-top: -100px;
}
.footer img {
  margin-top: 100px;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  margin: 0px;
  margin-top: 100px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer ul li {
  padding-left: 2rem;
}
.footer ul li:first-child {
  padding-bottom: 1rem;
  font-weight: 700;
}
.footer ul li a {
  color: #fff;
  transition: all 0.3s ease;
}
.footer ul li a:hover {
  color: var(--main-green-color);
}

.footer .copyright {
  margin-top: 3rem;
  border-top: 1px solid #ffffff;
}
.footer .copyright p {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
