/*--------------------------------------------------------------
# Extra small devices
--------------------------------------------------------------*/

@media only screen and (max-width: 576px) {
  .container,
  .width {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .red {
    background-color: var(--red-color);
    padding: 6px 12px;
    margin: 0px;
    border-radius: 1000px;
    transition: all 0.3s;
    text-align: center;
  }
  .red a {
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
  }
  .header .img {
    width: 200px;
  }

  .hero .input-1 {
    width: 100%;
  }
  .hero form button {
    width: 100%;
  }
  .hero form {
    flex-direction: column;
  }

  .why .col-4 {
    width: 50% !important;
  }
  .contact .column {
    flex-direction: column-reverse;
  }
  .contact .col-5 {
    width: 60%;
  }
  .contact .col-7 {
    width: 100%;
  }
  .contact .img img {
    padding-top: 2rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .contact::before {
    height: 60px;
  }
  .contact form {
    padding-bottom: 40px;
  }
  .contact .title {
    padding-top: 0px;
  }
  .contact-us .mobile .col-6 {
    width: 100%;
  }

  .contact-us form {
    margin: 0rem;
    padding: 0.5rem 1rem;
    width: 90%;
  }
  .d-sm-none,
  .header .red {
    display: none;
  }
  .treatment .logo {
    width: 40px;
    margin-right: 5px;
  }
  .tiles .col-4 {
    width: 100%;
  }
  .support-btn {
    display: flex;
  }
  .header-scrolled .navigation {
    display: none;
  }
  .footer::before {
    height: 40px;
  }
  .footer .col-3 {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .width {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
  .header img {
    width: 200px;
  }
  .header .top {
    justify-content: center;
  }
  .red a {
    background-color: var(--red-color);
    padding: 6px 12px;
    border-radius: 1000px;
    transition: all 0.3s;
  }

  .header .right {
    justify-content: center !important;
  }
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 24px !important;
  }
  .hero h2 {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
  .header img {
    width: 150px;
  }
  .app {
    display: none;
  }
  .hero .text {
    flex-direction: column;
  }
  .hero .hero-img img {
    width: 150%;
  }
  .hero h1 {
    font-size: 32px;
  }
  .why .box {
    padding: 4px 6px;
    margin: 0.5rem;
    min-height: 200px;
  }
  .why .box .text {
    font-size: 16px;
  }
  .why .box .icon img {
    width: 40px;
  }
  .contact .row {
    padding-bottom: 20px;
  }
  .contact::before {
    height: 60px;
  }
  .contact .title {
    padding-top: 60px;
  }
  .tiles .col-4 {
    width: 100% !important;
  }
  .tiles .wrapper {
    margin: 0px;
  }
  .dentist .col-3 {
    width: 90% !important;
    padding: 1rem;
  }
  .top-ten .col-9 {
    width: 100%;
  }
  .sm-d-none {
    display: none;
  }
  .sm-d {
    display: flex;
    width: 100%;
  }

  .list-hero .app-icon ul {
    display: flex;
    list-style: none;
    gap: 6px;
    margin-top: 2rem;
  }
  .top-ten .col-4 {
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .list-hero .app-icon ul li img {
    width: 150px;
  }
  .footer img {
    padding: 1rem;
  }
  #searchForm .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  #searchForm .col-5 {
    width: 100%;
  }
  #searchForm .col-2 {
    width: 95%;
  }
  .search-icon {
    left: 20px;
  }
}

@media (max-width: 991px) {
  .width {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero {
    height: auto;
    padding: 200px 0 60px 0;
  }

  .header img {
    margin-top: 0px;
    padding-bottom: 0px;
  }

  .contact form .form-control {
    width: 80%;
  }
  .contact form [type="email"] {
    width: 70%;
  }
  .contact form textarea {
    width: 93%;
  }
  .contact .title {
    font-size: 32px;
  }
  .contact-us .new-width {
    width: 100%;
  }
  .contact-us form {
    width: 90%;
  }
  .dentist .col-3 {
    width: 40%;
    padding: 1rem;
  }
  .faq-section .col-6 {
    width: 100%;
  }
  .header img {
    margin-top: 0px;
  }
}
@media (max-width: 1200px) {
  .width {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
  .contact form .form-control {
    width: 85%;
  }
  .contact form [type="email"] {
    width: 85%;
  }
  .contact form textarea {
    width: 93%;
  }
  .swiper-slide img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 1400px) {
  .width {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
  .header .navigation .nav-bar {
    padding: 1rem 2rem;
  }
}
/*--------------------------------------------------------------
# small Devices
--------------------------------------------------------------*/

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero {
    min-height: 10vh;
  }

  .hero h1 {
    font-size: 48px;
  }
  .hero .input-1 {
    width: 100%;
  }
  .hero form button {
    width: 100%;
  }
  .hero form {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Medium devices
--------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .hero .input-1 {
    width: 35%;
  }
  .hero form button {
    width: 30%;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero form {
    flex-direction: row;
  }
  .sm-d {
    display: none;
  }
}

/*--------------------------------------------------------------
# Large devices
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .hero .input-1 {
    width: 40%;
  }
  .hero form button {
    width: 20%;
  }
  .hero h1 {
    font-size: 60px;
  }
}

/*--------------------------------------------------------------
# x-large devices
--------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*--------------------------------------------------------------
# xx-large devices
--------------------------------------------------------------*/
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .width-1 {
    width: 100%;
  }
  .width-1 p {
    text-align: end;
  }
  .center {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
  .width {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
}
